<template>
  <div class="home">
    <norteDigital/>
  </div>
</template>

<script>
// @ is an alias to /src
import norteDigital from '@/components/norteDigital.vue'

export default {
  name: 'home',
  components: {
    norteDigital
  }
}
</script>
