<template>
    <b-container fluid class="norteDigital">
        <b-container class="sub-container">
        <h2 class ="MajorTitle">Document</h2><hr>
        <b-row>
            <b-col sm="6">
                <b-form-group
                class="title"
                label="Client"
                label-for="usuarios"
                >
                    <b-form-select class="usuarios form-control" id="usuarios" v-model="selectedUser"  :options = "users">
                    </b-form-select>
                    <b-button class="btn-more-user">+</b-button>
                </b-form-group>
            </b-col>
            <b-col sm="4">
                  <b-form-group
                class="title"
                label="Branch office"
                label-for="office"
                >
                <b-form-select class="office form-control" id="office" v-model="office" :options = "country" v-on:change="searchCurrency">
                </b-form-select>
                </b-form-group>

            </b-col>
            <b-col>
                <b-form-group
                class="title"
                label="Currency"
                label-for="currency"
                >
                    <b-form-input class="input-currency" v-model="currency" type="text"/>
                </b-form-group>
            </b-col>
        </b-row>
        <h2 class ="subTitle">Detail</h2><hr>
        <div v-show="rowData !=''">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">Name</th>
                        <th scope="col" class="col-2">Quantity</th>
                        <th scope="col" class="col-3">Price</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(item,index) in rowData" :key="item.id">
                        <td> 
                            <select class="custom-select" id="inputGroupSelect01" v-model="item.product">
                                <option selected></option>
                                <option v-for="product in products" :key="product.id" :value="product.ID">{{product.Title}}</option>
                            </select>
                        </td>
                        <td> 
                            <input type="text" class="form-control" v-model="item.quantity"  @keyup="calculateSubtotal(item.quantity,item.price,index)" aria-describedby="basic-addon2">
                        </td>
                        <td> 
                            <input type="text" class="form-control" v-model="item.price" @keyup="calculateSubtotal(item.quantity,item.price,index)"  aria-describedby="basic-addon2">
                        </td>
                        <td> 
                            <input type="text" class="form-control" v-model="item.subtotal "  disabled aria-describedby="basic-addon2">
                        </td>
                        <td> 
                            <button type="button" class="btn btn-link" v-on:click="deleteBook(index)" title="Delete Book">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <b-row>
            <b-col sm="12" class="btn-add">
                <b-form-group>
                    <b-button title="Add Book" v-on:click="addRow" >Add</b-button>
                </b-form-group>
            </b-col>
        </b-row>
        <div v-show="rowData !=''">
            <b-row>
                <b-col sm="9" class="total-text" >
                    <label>Total:</label>
                </b-col>
                <b-col sm="3" class="total">
                    <b-form-input class="btn-total" disabled :value="sumTotales()"  type="text"/>
                </b-col>
            </b-row>
            <b-row>
                <b-col sm="12" class="save">
                    <b-form-group>
                        <b-button  title="Save" class="btn-save">Save</b-button>
                    </b-form-group>
                </b-col>
            </b-row>
        </div>
      
    </b-container>
    </b-container>
</template>

<script>
import axios from 'axios'
export default {
    data: function () {
        return {
            selectedUser: null,
            users: [],
            country: [],
            data:[],
            products: [],
            rowData:[
            ],
            quantity:'',
            price:'',
            subtotal:'',
            total:'',
            office:'',
            currency:'',
            name:'',
           
        }
    },
    created: function() {
      this.getUser();
      this.getSucursal();
      this.getProduct();
    },
    methods: {
        getUser:function() {
            axios.get('https://jsonplaceholder.typicode.com/users')
            .then( (response)=> {
                response.data.forEach(element => {
                    this.users.push({"value":element.id, "text": element.name })
                })
            })
            .catch((error)=>{
                console.log("Cannot Find Users: " + error);
            });  
        },
        getSucursal:function() {
           axios.get('https://restcountries.eu/rest/v2/region/americas')
            .then( (response)=> {
                this.data = response.data
                response.data.forEach(element => {
                    this.country.push({"value":element.numericCode, "text": element.name })
                })
            })
            .catch((error)=>{
                console.log("Cannot Find Country: " + error);
            });  
        },
        getProduct:function() {
           axios.get('http://fakerestapi.azurewebsites.net/api/books')
            .then( (response)=> {
                this.products = response.data;
            })
            .catch((error)=>{
                console.log("Cannot Find products: " + error);
            });  
        },
        searchCurrency:function(e){
            this.data.forEach(element => {
                if(element.numericCode === e){
                    this.currency = element.currencies[0].code;
                }
            });
        },
        calculateSubtotal(q,p,i){
            if(q !='' && q !=undefined && p !='' && p !=undefined && q >= 0 && p >= 0){
                this.rowData.forEach((element,index) => {
                    if(index ===i){
                        element.subtotal = (q * p);
                    }
                });
            }
        },
        sumTotales:function() {
            var tmp= 0;
            this.rowData.forEach(element => {
                tmp += (element.subtotal);
            })
        
            return tmp;
        },
        addRow: function() {
            var elem = document.createElement('tr');
            this.rowData.push({
                product:"",
                quantity: "",
                price: "",
                subtotal:""
            });
        },
        deleteBook:function(index){
            this.rowData.splice(index,1)
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.norteDigital{
    margin-top:5%;
    border: 2px solid #828282;
    width:  53%;
    height: auto;
    .sub-container{
        padding: 5px 30px;
        hr{
            margin-top: 1px;
            border: 1px solid #828282;
        }
        .btn{
            background-color:#d8d8d8;
            border-color:#828282;
            color:black;
        }
        input{ 
            border:1px solid #828282;
            text-align: center;
        }
        select{
            border:1px solid #828282;
        }
        .MajorTitle{
            text-align: left;
            margin-top: 5%;
            color:#060606;
        }
        .subTitle{
            text-align: left;
            margin-top: 2%;
            color:#060606;
        }
        .title{
            text-align:left;
        }
        .usuarios{
            width:87%;
        }
        .btn-add{
            text-align:left;
        }
        .total-text{
            text-align:right;
        }
        .total{
            text-align: left;
        }
        .save{
            text-align: right;
            margin-top:5%;
            button{
                width: 21%;
            }
        }
        .table{
            th{
                text-align: left;
                font-weight: 100;
                border-bottom: none;
                border: 0px;
            }
        }
        .col-1{
            width:40%;
        }
        .col-2{
            width:15%;
        }
        .col-3{
            width:15%;
        }
    }
}
</style>
